@media screen and (max-width: 420px) {
  .header-nav{
    top: 0;
  }

 .header-text{
   font-size: 22px;
   width: auto;

 }
  .list-xiaomi{
    width: 250px;
    font-size: 17px;
    line-height: 15px;
  }
  .text-xiaomi{
    padding-left: 140px;
    top: 80px;
  }
  .text-time{
    top: 137px;
    padding-left: 35px;
  }
  .text-music {
    top: 158px;
  }
  .list-music {
    font-size: 21px;
  }

  .list-time{
    font-size: 23px;
  }
  .list-time{
    font-size: 20px;
  }
  .list-money{
    padding-left: 168px;
    top: 530px;
  }
  .list-text-monuy{
    font-size: 20px;
  }
  .list-money-sum {
    font-size: 42px;
  }
}

@media screen and (max-width: 377px){
  .text-xiaomi{
    padding-left: 130px;
    top: 70px
  }
  .list-xiaomi {
    font-size: 16px;
}
  .list-time {
    top: 123px;
    padding-left: 30px;
  }

  .text-music {
    top: 145px;
  }
  .list-music {
    font-size: 20px;
  }
  .list-money {
    padding-left: 150px;
    top: 480px;
  }
  .text-time {
    top: 120px;
    padding-left: 3px;
  }
  .list-text-monuy {
    font-size: 18px;
  }
  .list-money-sum {
    font-size: 40px;
  }
}