

    body {
        max-width: 480px;
        height: 1078px;
        font-family: 'Montserrat', sans-serif;

    }

    * {
        margin: 0;
        padding: 0;
    }
.img {
    max-width: 100%;
}

    .header-text {
        width: 484px;
        height: 56px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 29px;
        line-height: 28px;
        text-align: center;
    }

    .header-nav {
        position: absolute;
        height: 56px;
        /*left: -2px;*/
        top: 18px;
    }

    .text-time {
        position: absolute;
        top: 165px;
        padding-left: 40px;
    }

    .text-music {
        position: absolute;
        top: 190px;
        padding-left: 10px;
    }

    .text-xiaomi {
        position: absolute;
        top: 95px;
        padding-left: 190px;
        /*left: 180px;*/

    }

    .list-time {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 28px;
        line-height: 25px;
        text-align: center;
        color: #FFEA00;
        text-shadow: 0 1px 2px rgb(0 0 0 / 90%);
    }

    .list-music {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        /*font-weight: bold;*/
        font-size: 28px;
        line-height: 25px;
        text-align: center;
        letter-spacing: 0.2em;
        color: #FFFFFF;
        text-shadow: 0 1px 2px rgb(0 0 0 / 90%);
        font-weight: 700;
    }

    .list-xiaomi {
        font-family: 'Montserrat', sans-serif;
        font-style: italic;
        font-weight: 800;
        font-size: 20px;
        line-height: 20px;
        color: #261D88;
        width: 297px;
    }

    .list-money {
        padding-left: 200px;
        position: absolute;
        top: 625px;
    }

    .list-text-monuy {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 107.7%;
        text-align: center;
        color: #FFFFFF;
    }

    .list-money-sum {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 45px;
        line-height: 107.7%;
        text-align: center;
        color: #FFFFFF;
    }

    .column-one{
        position: absolute;
        padding-left: 10px;
        top: 825px;
    }
    .column-two{

    }

    .text-indicator{
        position: absolute;
        width: 141px;
        height: 24px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 13px;
        text-align: center;
        color: #000000;

    }

    .text-water{
        position: absolute;
        width: 148px;
        height: 39px;
        left: 165px;
        top: 832px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 13px;
        text-align: center;
        color: #000000;
    }

    .text-power-bank{
        position: absolute;
        width: 127px;
        height: 24px;
        left: 338px;
        top: 822px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 13px;
        text-align: center;
        color: #000000;
    }

    .text-start{
        position: absolute;
        width: 341px;
        height: 44px;
        left: 71px;
        top: 890px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 110%;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
    }

    .text-number {
        position: absolute;
        width: 341px;
        height: 44px;
        left: 71px;
        top: 910px;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 110%;
        color: #BC012E;
        text-align: center;
        text-transform: uppercase;
    }

    .box-one {
        position: absolute;
        width: 99.9px;
        height: 51px;
        left: 62px;
        top: 944px;
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    .box-two{
        position: absolute;
        width: 99.9px;
        height: 51px;
        left: 189.91px;
        top: 944px;

        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }

    .box-three {
        position: absolute;
        width: 99.9px;
        height: 51px;
        left: 317.83px;
        top: 944px;

        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }

    .title{
        display: flex;
        list-style-type: none;
    }
    .title-one {
        position: absolute;
        width: 92px;
        height: 22px;
        left: 17px;
        top: 1022px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 110%;
        text-align: center;
        text-transform: uppercase;
        color: #000000;

    }
.title-two{
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: linear-gradient(
      180deg
      , #BC012E 0%, #DA0034 100%);
    border-radius: 100%;
    padding: 10px;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 113px;
    top: 1006px;
}
.title-three {
    position: absolute;
    height: 22px;
    left: 176px;
    top: 1022px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.button {
    position: absolute;
    width: 375.55px;
    height: 67px;
    left: 51px;
    top: 1080px;
    background: linear-gradient(
      180deg
      , #BC012E 0%, #DA0034 100%);
    border-radius: 50px;
}

.button-go {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 118.7%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.text-headphones {
    position: absolute;
    width: 488px;
    height: 56px;
    left: 13px;
    top: 1173px;
}

.headphones {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
}

.video {
    margin-top: 32%;
}

.video-img {
    width: 480px;
}
.description{
    position: absolute;
    width: 459px;
    height: 100px;
    left: 39px;
    top: 1540px;
}
.description-text {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
}
.description-color {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #000000;

}

.img-foto {
    width: 480px;
}

    .button-android {
        position: absolute;
        width: 375.55px;
        height: 67px;
        left: 51px;
        top: 2110px;
        background: linear-gradient(
          180deg
          , #BC012E 0%, #DA0034 100%);
        border-radius: 50px;
        cursor: pointer;
    }

    .button-go-android {
        padding-bottom: 48px;
    }

    .heading {
        position: absolute;
        width: 403px;
        height: 60px;
        left: 38px;
        top: 2280px;
    }

    .heading-title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 30px;
        color: #000000;
    }

    .paragraph {
        position: absolute;
        width: 190px;
        height: 220px;
        left: 270px;
        top: 2410px;


    }

    .paragraph-one {
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 20px;
        color: #000000;
        padding-bottom: 15px;
    }
    .paragraph-two {
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 20px;
        color: #000000;
    }
    .text-tws {
        position: absolute;
        height: 28px;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #282548;
        top: 2690px;
        left: 5px;
    }
    .text-apple {
        position: absolute;
        width: 104px;
        height: 50px;
        left: 363px;
        top: 2700px;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
    }

    .list-description {
        list-style-type: none;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 13px;
        text-align: center;
        color: #000000;
    }

    .list-power-bank {
        position: absolute;
        width: 228px;
        height: 24px;
        left: 126px;
        top: 2890px;
    }
    .list-volume {
        position: absolute;
        width: 255px;
        height: 24px;
        left: 112px;
        top: 2930px;
    }

    .list-charging {
        position: absolute;
        width: 281px;
        height: 24px;
        left: 99px;
        top: 2970px;
    }
    .list-protection{
        position: absolute;
        width: 293px;
        height: 24px;
        left: 93px;
        top: 3010px;
    }
    .list-sound {
        position: absolute;
        width: 293px;
        height: 24px;
        left: 93px;
        top: 3058px;
    }
    .button-buy {
        position: absolute;
        width: 375.55px;
        height: 67px;
        left: 53px;
        top: 3130px;
        background: linear-gradient(180deg, #BC012E 0%, #DA0034 100%);
        border-radius: 50px;
        cursor: pointer;
    }

