

    body {
        max-width: 480px;
        height: 1078px;
        font-family: 'Montserrat', sans-serif;

    }

    * {
        margin: 0;
        padding: 0;
    }
.img {
   vertical-align: middle;


}

    .header-text {
        width: 484px;
        height: 56px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 29px;
        line-height: 28px;
        text-align: center;
    }

    .header-nav {
        position: absolute;
        height: 56px;
        /*left: -2px;*/
        top: 18px;
    }

    .text-time {
        position: absolute;
        top: 165px;
        padding-left: 40px;
    }

    .text-music {
        position: absolute;
        top: 190px;
        padding-left: 10px;
    }

    .text-xiaomi {
        position: absolute;
        top: 95px;
        padding-left: 190px;
        /*left: 180px;*/

    }

    .list-time {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 28px;
        line-height: 25px;
        text-align: center;
        color: #FFEA00;
        text-shadow: 0 1px 2px rgb(0 0 0 / 90%);
    }

    .list-music {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        /*font-weight: bold;*/
        font-size: 28px;
        line-height: 25px;
        text-align: center;
        letter-spacing: 0.2em;
        color: #FFFFFF;
        text-shadow: 0 1px 2px rgb(0 0 0 / 90%);
        font-weight: 700;
    }

    .list-xiaomi {
        font-family: 'Montserrat', sans-serif;
        font-style: italic;
        font-weight: 800;
        font-size: 20px;
        line-height: 20px;
        color: #261D88;
        width: 297px;
    }

    .list-money {
        padding-left: 200px;
        position: absolute;
        top: 625px;
    }

    .list-text-monuy {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 107.7%;
        text-align: center;
        color: #FFFFFF;
    }

    .list-money-sum {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 45px;
        line-height: 107.7%;
        text-align: center;
        color: #FFFFFF;
    }

    .column-one{
        position: absolute;
        padding-left: 10px;
        top: 825px;
    }
    .column-two{

    }

    .text-indicator{
        position: absolute;
        width: 141px;
        height: 24px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 13px;
        text-align: center;
        color: #000000;

    }

    .text-water{
        position: absolute;
        width: 148px;
        height: 39px;
        left: 165px;
        top: 832px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 13px;
        text-align: center;
        color: #000000;
    }

    .text-power-bank{
        position: absolute;
        width: 127px;
        height: 24px;
        left: 338px;
        top: 822px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 13px;
        text-align: center;
        color: #000000;
    }

    .text-start{
        position: absolute;
        width: 341px;
        height: 44px;
        left: 71px;
        top: 890px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 110%;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
    }

    .text-number {
        position: absolute;
        width: 341px;
        height: 44px;
        left: 71px;
        top: 910px;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 110%;
        color: #BC012E;
        text-align: center;
        text-transform: uppercase;
    }

    .box-one {
        position: absolute;
        width: 99.9px;
        height: 51px;
        left: 62px;
        top: 944px;
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    .box-two{
        position: absolute;
        width: 99.9px;
        height: 51px;
        left: 189.91px;
        top: 944px;

        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }

    .box-three {
        position: absolute;
        width: 99.9px;
        height: 51px;
        left: 317.83px;
        top: 944px;

        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }

    .title{
        display: flex;
        list-style-type: none;
    }
    .title-one {
        position: absolute;
        width: 92px;
        height: 22px;
        left: 17px;
        top: 1022px;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 110%;
        text-align: center;
        text-transform: uppercase;
        color: #000000;

    }
.title-two{
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: linear-gradient(
      180deg
      , #BC012E 0%, #DA0034 100%);
    border-radius: 100%;
    padding: 10px;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 113px;
    top: 1006px;
}
.title-three {
    position: absolute;
    height: 22px;
    left: 176px;
    top: 1022px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.button {
    position: absolute;
    width: 375.55px;
    height: 67px;
    left: 51px;
    top: 1080px;
    background: linear-gradient(180deg, #BC012E 0%, #DA0034 100%);
    border-radius: 50px;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
}

.button-go {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 118.7%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.text-headphones {
    position: absolute;
    width: 488px;
    height: 56px;
    left: 13px;
    top: 1173px;
}

.headphones {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
}

.video {
    margin-top: 32%;
}

.video-img {
    width: 480px;
    vertical-align: middle;
}


/* 2 section */

.description{
    position: absolute;
    width: 459px;
    height: 100px;
    left: 39px;
    top: 1535px;
}
.description-text {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
}
.description-color {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #000000;

}

.img-foto {
    width: 480px;
    vertical-align: middle;
}

    .button-android {
        position: absolute;
        width: 375.55px;
        height: 67px;
        left: 51px;
        top: 2110px;
        background: linear-gradient(180deg, #BC012E 0%, #DA0034 100%);
        border-radius: 50px;
        cursor: pointer;
        filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.8));
    }

    .heading {
        position: absolute;
        width: 403px;
        height: 60px;
        left: 38px;
        top: 2240px;
    }

    .heading-title {
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 30px;
        color: #000000;
    }

    .paragraph {
        position: absolute;
        width: 190px;
        height: 220px;
        left: 270px;
        top: 2350px;


    }

    .paragraph-one {
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 20px;
        color: #000000;
        padding-bottom: 15px;
    }
    .paragraph-two {
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 20px;
        color: #000000;
    }
    .text-tws {
        position: absolute;
        height: 28px;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #282548;
        top: 2630px;
        left: 5px;
    }
    .text-apple {
        position: absolute;
        width: 104px;
        height: 50px;
        left: 363px;
        top: 2635px;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
    }

    .list-description {
        list-style-type: none;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 13px;
        text-align: center;
        color: #000000;
    }

    .list-power-bank {
        position: absolute;
        width: 228px;
        height: 24px;
        left: 126px;
        top: 2825px;
    }
    .list-volume {
        position: absolute;
        width: 255px;
        height: 24px;
        left: 112px;
        top: 2865px;
    }

    .list-charging {
        position: absolute;
        width: 281px;
        height: 24px;
        left: 99px;
        top: 2910px;
    }
    .list-protection{
        position: absolute;
        width: 293px;
        height: 24px;
        left: 93px;
        top: 2950px;
    }
    .list-sound {
        position: absolute;
        width: 293px;
        height: 24px;
        left: 93px;
        top: 3000px;
    }
    .button-buy {
        position: absolute;
        width: 375.55px;
        height: 67px;
        left: 53px;
        top: 3070px;
        background: linear-gradient(180deg, #BC012E 0%, #DA0034 100%);
        border-radius: 50px;
        cursor: pointer;
        filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.8));
    }
    .heading-add {
        position: absolute;
        width: 447px;
        height: 60px;
        left: 18px;
        top: 3170px;
    }

    .heading-text{
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 30px;
        color: #FFFFFF;
    }

    .name-control {
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 30px;
        color: #ffffff;
        position: absolute;
        width: 443px;
        height: 30px;
        left: 18px;
        top: 3620px;
    }

    .name-cry{
        position: absolute;
        width: 443px;
        height: 37px;
        left: 21px;
        top: 3650px;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
    }
    .section-list {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 15px;
        color: #FFD3B3;
        list-style-type: none;
    }
    .sec-one {
        position: absolute;
        width: 35px;
        height: 15px;
        left: 108px;
        top: 4090px;
    }
    .sec-two {
        position: absolute;
        width: 35px;
        height: 15px;
        left: 230px;
        top: 4090px;
    }
    .sec-three {
        position: absolute;
        width: 37px;
        height: 15px;
        left: 354px;
        top: 4090px;
    }
    .sec-four {
        position: absolute;
        width: 35px;
        height: 15px;
        left: 108px;
        top: 4170px;
    }
    .sec-five {
        position: absolute;
        width: 38px;
        height: 15px;
        left: 230px;
        top: 4170px;
    }
    .sec-six {
        position: absolute;
        width: 37px;
        height: 15px;
        left: 354px;
        top: 4170px;
    }
    .section-list-text {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 15px;
        color: #FFFFFF;
        list-style-type: none;
    }
    .section-text-one {
        position: absolute;
        width: 102px;
        height: 30px;
        left: 69px;
        top: 4120px;
    }
    .section-text-two {
        position: absolute;
        width: 73px;
        height: 30px;
        left: 191px;
        top: 4120px;
    }
    .section-text-three {
        position: absolute;
        width: 79px;
        height: 30px;
        left: 319px;
        top: 4120px;

    }

    .section-text-four {
        position: absolute;
        width: 48px;
        height: 30px;
        left: 69px;
        top: 4195px;
    }

    .section-text-five {
        position: absolute;
        width: 114px;
        height: 30px;
        left: 191px;
        top: 4195px;
    }

    .section-text-six {
        position: absolute;
        width: 113px;
        height: 30px;
        left: 322px;
        top: 4195px;
    }

    .button-control {
        position: absolute;
        width: 375.55px;
        height: 67px;
        left: 53px;
        top: 4270px;
        background: linear-gradient(180deg, #BC012E 0%, #DA0034 100%);
        border-radius: 50px;
        cursor: pointer;
        filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.8));
    }
    /*-------- section 7  -------*/
 .noise-suppression {
     position: absolute;
     width: 406px;
     height: 30px;
     left: 62px;
     top: 4385px;
     font-style: normal;
     font-weight: bold;
     font-size: 30px;
     line-height: 30px;
     color: #FFFFFF;

 }

 .photo {
     vertical-align: middle;
 }

 .suppression-text {
     position: absolute;
     width: 448px;
     height: 75px;
     left: 20px;
     top: 5155px;
     font-weight: 300;
     font-family: 'Montserrat', sans-serif;
     font-style: normal;
     font-size: 20px;
     line-height: 25px;
     color: #FFFFFF;
 }
 .button-suppression {
     position: absolute;
     width: 375.55px;
     height: 67px;
     left: 53px;
     top: 5240px;
     background: linear-gradient(180deg, #BC012E 0%, #DA0034 100%);
     border-radius: 50px;
     cursor: pointer;
     filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.8));
 }

 /*------- section 8 ----------*/

    .photo-six {
        margin-top: -7px;
    }

    .text-sound {
        position: absolute;
        width: 437px;
        height: 30px;
        left: 21px;
        top: 5370px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 30px;
        color: #000000;
    }

    .sound{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 10px;
        text-align: center;
        color: #FFFFFF;
        list-style-type: none;
    }

    .sound-high {
        position: absolute;
        width: 89px;
        height: 20px;
        left: 84px;
        top: 5500px;

    }

    .sound-low {
        position: absolute;
        width: 88px;
        height: 20px;
        left: 196px;
        top: 5500px;
    }

    .sound-effect {
        position: absolute;
        width: 47px;
        height: 20px;
        left: 327px;
        top: 5500px;
    }

    /*--------- section 9 ----------*/

    .quality-sound {

        position: absolute;
        width: 418px;
        height: 161px;
        left: 31px;
        top: 6025px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 23px;
        color: #000000;
    }

    .quality-sound-text {
        position: absolute;
        width: 418px;
        height: 161px;
        left: 31px;
        top: 6090px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 23px;
    }

    .quality-text {
        position: absolute;
        width: 456px;
        height: 42px;
        left: 21px;
        top: 6811px;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 20px;
        color: #000000;
    }

    .bluetooth {
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 20px;
    }

    /*-------- section 10 --------*/

    .button-bank {
        position: absolute;
        width: 375.55px;
        height: 67px;
        left: 53px;
        top: 6910px;
        background: linear-gradient(180deg, #BC012E 0%, #DA0034 100%);
        border-radius: 50px;
        cursor: pointer;
        filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.8));
    }

    .charging {
        position: absolute;
        width: 429px;
        height: 30px;
        left: 31px;
        top: 7020px;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 30px;
        color: #FFFFFF;
    }

    .charging-phone {
        position: absolute;
        width: 326px;
        height: 30px;
        left: 31px;
        top: 7053px;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
    }

    .charging-text {
        position: absolute;
        width: 445px;
        height: 120px;
        left: 26px;
        top: 7115px;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
    }

    .button-charging {
        position: absolute;
        width: 375.55px;
        height: 67px;
        left: 53px;
        top:  7637px;
        background: linear-gradient(180deg, #BC012E 0%, #DA0034 100%);
        border-radius: 50px;
        cursor: pointer;
        filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.8));
    }

    .photo-items {
        position: relative;
    }

    /*--------section 11 --------*/

    .title-battery {
        position: absolute;
        width: 482px;
        height: 90px;
        left: 17px;
        top: 7733px;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 30px;
        color: #FFFFFF;
    }

    .text-battery {
        position: absolute;
        width: 424px;
        height: 40px;
        left: 17px;
        top: 7841px;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 20px;
        color: #DBFFFE;
    }

    .battery{
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 18px;
        text-align: right;
        color: #000000;
        list-style-type: none;
    }

    .battery-right {
        position: absolute;
        width: 229px;
        height: 36px;
        left: 239px;
        top: 8135px;
    }

    .battery-case {
        position: absolute;
        width: 161px;
        height: 24px;
        left: 265px;
        top: 8300px;
    }

    .battery-left {
        position: absolute;
        width: 216px;
        height: 36px;
        left: 32px;
        top: 8360px;
        text-align: left;
    }

    .button-battery {
        position: absolute;
        width: 375.55px;
        height: 67px;
        left: 53px;
        top: 8435px;
        background: linear-gradient(180deg, #BC012E 0%, #DA0034 100%);
        border-radius: 50px;
        cursor: pointer;
        filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.8));
    }
    /*-------section 12 -------*/

    .photo-characteristics {
        margin-top: -21px;
    }

    .characteristics {
        position: absolute;
        width: 326px;
        height: 60px;
        left: 85px;
        top: 8589px;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 30px;
        color: #000000;
    }

    .number {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 115.38%;
        color: #000000;
        list-style-type: none;
    }

    .number-eighty {
        position: absolute;
        width: 66px;
        height: 18px;
        left: 147px;
        top: 8710px;
    }

    .number-fifty{
        position: absolute;
        width: 66px;
        height: 18px;
        left: 303px;
        top: 8725px
    }

    .number-twenty {
        position: absolute;
        width: 66px;
        height: 18px;
        left: 328px;
        top: 8770px;
    }

    .set{
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 115.38%;
        color: #000000;
        list-style-type: none;
    }

    .set-case {
        position: absolute;
        width: 453px;
        height: 23px;
        left: 207px;
        top: 9040px;

    }

    .set-headphones {
        position: absolute;
        width: 453px;
        height: 23px;
        left: 207px;
        top: 9070px;

    }

    .set-ambushures {
        position: absolute;
        width: 453px;
        height: 23px;
        left: 207px;
        top: 9100px;
    }

    .set-ambus {
        position: absolute;
        width: 453px;
        height: 23px;
        left: 207px;
        top: 9130px;

    }

    .set-instruction {
        position: absolute;
        width: 453px;
        height: 23px;
        left: 207px;
        top: 9160px;
    }

    .button-set {
        position: absolute;
        width: 375.55px;
        height: 67px;
        left: 53px;
        top: 9240px;
        background: linear-gradient(180deg, #BC012E 0%, #DA0034 100%);
        border-radius: 50px;
        cursor: pointer;
        filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.8));
    }
   .reviews {
    position: absolute;
    width: 406px;
    height: 37px;
    left: 37px;
    top: 9425px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
}
    .rating-mini {
        display: inline-block;
        font-size: 0;
    }

    .rating-mini span {
        padding: 0;
        font-size: 20px;
        line-height: 1;
        color: lightgrey;
    }

    .rating-mini > span:before {
        content: '★';
    }

    .rating-mini > span.active {
        color: gold;
    }

    .reviews-human {
        position: absolute;
        left: 21px;
        top: 9518px;
        display: flex;
    }

    .human {
       padding-right: 18px;
    }

    .human-name {
        width: 201px;
        height: 29px;
        left: 200px;
        top: 520px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 121%;
        color: #030539;
    }

    .age {
        font-weight: 400;
        font-size: 20px;
    }

    .data-active {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        letter-spacing: 0.055em;
        color: #030539;
    }

    .review-human {
        position: absolute;
        width: 453px;
        height: 115px;
        left: 17px;
        top: 9616px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 115.38%;
        color: #000000;

    }

    .photo-human {
        position: absolute;
        width: 480px;
        height: 360px;
        left: -1px;
        top: 9757px;
    }

    .order {
        position: absolute;
        width: 310px;
        left: 90px;
        top: 10181px;
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 37px;
        color: #000000;
        text-align: center;
    }

    .order-request{
        position: absolute;
        width: 208px;
        height: 194px;
        left: 19px;
        top: 10247px;
        background: linear-gradient(180deg, #BC012E 0%, #DA0034 100%);
        box-shadow: 0px 0px 4px 1px rgb(0 0 0 / 25%);
        border-radius: 20px;
    }

    .order-box {
        background: linear-gradient(180deg, #BC012E 0%, #DA0034 100%);
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
    }

    .order-request {

        position: absolute;
        width: 208px;
        height: 194px;
        left: 19px;
        top: 10247px;
        background: linear-gradient(180deg, #BC012E 0%, #DA0034 100%);
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
        border-radius: 20px;

    }

    .order-score {
        position: absolute;
        width: 208px;
        height: 194px;
        left: 244px;
        top: 10247px;
        background: linear-gradient(180deg, #BC012E 0%, #DA0034 100%);
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
    }

    .order-delivery {
        position: absolute;
        width: 208px;
        height: 194px;
        left: 19px;
        top: 10457px;
        background: linear-gradient(180deg, #BC012E 0%, #DA0034 100%);
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
    }

    .order-payment {
        position: absolute;
        width: 208px;
        height: 194px;
        left: 244px;
        top: 10457px;
        background: linear-gradient(180deg, #BC012E 0%, #DA0034 100%);
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
    }

    .order-request-img{
        display: flex;
        width: 80px;
        height: 80px;
        left: 82px;
        top: 10273px;
        margin: auto;
        padding-top: 26px;
    }

    .order-request-text{
        width: 174px;
        font-weight: 300;
        font-size: 18px;
        line-height: 92.7%;
        text-align: center;
        color: #FFFFFF;
        margin: auto;
        padding-top: 28px;
    }

    .order-score-img {
        display: flex;
        width: 80px;
        height: 80px;
        margin: auto;
        padding-top: 26px;
    }

    .order-score-text {
        width: 197px;
        top: 10371px;
        font-weight: 300;
        font-size: 18px;
        line-height: 92.7%;
        text-align: center;
        color: #FFFFFF;
        margin: auto;
        padding-top: 18px;
    }

    .order-delivery-img{
        display: flex;
        width: 80px;
        height: 80px;
        margin: auto;
        padding-top: 26px;
    }

    .order-delivery-text{
        width: 197px;
        font-weight: 300;
        font-size: 18px;
        line-height: 92.7%;
        text-align: center;
        color: #FFFFFF;
        margin: auto;
        padding-top: 22px;
    }

    .order-payment-img {
        display: flex;
        width: 80px;
        height: 80px;
        margin: auto;
        padding-top: 28px;
    }

    .order-payment-text {
        width: 197px;
        font-weight: 300;
        font-size: 18px;
        line-height: 92.7%;
        text-align: center;
        color: #FFFFFF;
        margin: auto;
        padding-top: 23px;
    }

    /*-------section 13-----*/

    .checkout-order{
        position: absolute;
        width: 438px;
        height: 503px;
        left: 21px;
        top: 11010px;
        background: linear-gradient(180deg, #BC012E 0%, #DA0034 100%);
        border-radius: 20px;
    }

    .main {
        position: absolute;
        width: 131px;
        left: 177px;
        top: 10851px;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 37px;
        color: #000000;
    }

    .checkout-order-header {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 37px;
        color: #FFFFFF;
        text-align: center;
        padding-top: 38px;
    }

    .checkout-order-text {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        text-align: center;
        padding-bottom: 53px;
    }

    .box-order {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .input-block {
        margin-bottom: 20px;
    }

    .input-text {
        width: 360px;
        height: 46px;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 10px;
        background: linear-gradient(180deg, #BC012E 0%, #DA0034 100%);
        padding-left: 18px;
    }
    input[type="search"]::placeholder{
        color: white;
    }

    .input-text-number {
        width: 360px;
        height: 46px;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 10px;
        background: linear-gradient(180deg, #BC012E 0%, #DA0034 100%);
        padding-left: 18px;
    }

    .input-button {
        width: 355px;
        height: 46px;
        left: 65px;
        background: #FFFFFF;
        border-radius: 50px;
        text-decoration: none;
        margin: 40px 0 55px;
    }

    .button-box {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #2F3030;
        text-decoration: none;
    }


    .form-check-label {
        width: 344px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        display: flex;
    }

    .form-check-input {
        position: absolute;
        width: 10px;
        left: 30px;
        background: #FFFFFF;
    }






